body {
  font: 10pt/15pt "Minion Pro", MinionPro, Palatino, serif; 
}

h1, h2, h3 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #006663;
  line-height: 24pt;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
  color: #000000;
  line-height: 12pt;
}

li {
  padding-left: 10pt;
}

a:link, a:visited {
  color: #006663;
}

.outline-print-logo a {
  color: transparent;
}

.print-footnote {
  font-style: italic;
  color: #006663;
}

.views-print-friendly-list {
  color: #006663;
}

.views-field-title {
  font-weight: bold;
  font-size: 14pt;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.outline-print-logo {
  width: 100%;
  text-align: right;
}

dfn {
  border-top: 1pt solid #f4cc30;
  border-bottom: 1pt solid #f4cc30;
  padding: 1pt 0 1pt 0;
  font-weight: normal;
  font-style: normal;
}

.print-glossary-list, .views-print-friendly-list {
  page-break-before: always; 
}

.print-glossary-list table tr {
  display: block;
  margin-bottom: 10pt;
}

.print-glossary-list .glossary-terms {
  width: 125pt;
  font-weight: bold;
}

/* Custom */

.views_slideshow_singleframe_slide {
  border: 1px solid #a9a9a9;
  background-color: #f1f1f1;
  padding: 10pt;
  margin-bottom: 10pt;
}

.icon-text {
 display: none; 
}

.views-field-field-screenshots-fig-desc-value {
  font: italic 8pt 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.page-view-screenshot_carousel_new {
  page-break-before: always;
}

.views_slideshow_slide {
  page-break-before: always; 
}

.view-screenshot-carousel-new .views-row-1 {
  page-break-before: auto; 
}


